:root {
  --lightestBlue: #e8ffff;
  --lighterBlue: #c2dfe3;
  --blue: #9db4c0;
  --altblue: #c8d6de;

  --darkerBlue: #5c6b73;
  --darkestBlue: #253237;
  --white: #fcfcfc;
  --black: #393e41;
  --error: #e17160;
}

h1 {
  color: var(--darkestBlue);
}

.err {
  color: var(--error);
}

.loadingSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotocrow {
  width: auto;
  height: 30px;
  display: inline;
  animation: rotation 2s infinite linear, wiggle 0.8s infinite linear;
  transition: 1;
  z-index: 5;
  transform: translate(-30px, -5px);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--white);
}

.logo {
  margin-left: 1px;
}

.no-padding-list {
  padding-top: 0px;
}
