:root {
  --lightestBlue: #edf8fe;
  --lighterBlue: #c2dfe3;
  --blue: #9db4c0;

  --darkerBlue: #5c6b73;
  --darkestBlue: #253237;
  --white: #fcfcfc;
  --black: #393e41;
  --error: #e17160;
}

h1 {
  color: var(--darkestBlue);
}

.err {
  margin: 5px;
}

.loadingSpan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-left: -1.25em;
}

.connectText {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-top: 0;
}

.no-padding-list {
  padding-top: 0px;
}

/* animation styling for crow */

.rotocrow {
  width: auto;
  height: 30px;
  display: inline;
  transition: 1;
  z-index: 5;
  margin: 5px;
  transform: translate(-30px, -5px);
}

.rotation {
  animation: rotation 3s infinite linear;
}
.loadKrow {
  display: inline;
  height: 80px;
}

.loadKrowJump {
  display: inline;
  height: 80px;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
body,
main {
  max-height: 100%;
  margin: 0;
  background-color: var(--white);
}
