:root {
  --lightestBlue: #e0fbfc;
  --lighterBlue: #c2dfe3;
  --blue: #9db4c0;
  --darkerBlue: #5c6b73;
  --darkestBlue: #253237;
  --white: #FEFFEF;
  --black: #393e41;
  --error: #e17160;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: var(--white)
}

.logo {
  margin-left: 1px;
}